<ion-content>
  <div class="verify">
    <ion-icon name="arrow-back-outline" routerLink="/auth/login"></ion-icon>
    <span>Email Verify</span>
  </div>
  <div class="mail-input">
    <img src="../../../assets/image/mail.webp">
    <div class="heading">
      <h2>Let's get started</h2>
    </div>
    <ion-input labelPlacement="stacked" scrollAssist="false" scrollPadding="false" label="Enter your email">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
    </ion-input>
    <ion-button shape="round" routerLink="/auth/email-otp">Send OTP</ion-button>
  </div>
</ion-content>