<ion-content>
    <div class="profile">
        <div class="img">
            <img src="../../../assets/image/pr.png">
        </div>
        <div class="title">
            <span>
                Amarjeet
            </span>
        </div>
    </div>
    <div class="pic">
        <img src="../../../assets/image/Educational.png">
    </div>
    <div class="txt">
        <h3>Hi what would you learn today?</h3>
    </div>
    <div class="course_section">
        <div class="card">
            <div class="img">
                <img src="../../../assets/image/img.avif">
            </div>
            <div class="title">
                <span>Amarjeet</span>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../../../assets/image/img.avif">
            </div>
            <div class="title">
                <span>Amarjeet</span>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../../../assets/image/img.avif">
            </div>
            <div class="title">
                <span>Amarjeet</span>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../../../assets/image/img.avif">
            </div>
            <div class="title">
                <span>Amarjeet</span>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../../../assets/image/img.avif">
            </div>
            <div class="title">
                <span>Amarjeet</span>
            </div>
        </div>
    </div>
    <div class="quiz">
        <ion-button shape="round">Suggestion Quiz</ion-button>
    </div>
    <div class="video-title">
        <h4>Free Videos</h4>
    </div>
    <div class="video-section">
        <div class="vid">
            <video autoplay loop muted>
                <source src="../../../assets/image/education.mp4">
            </video>
        </div>
        <div class="vid">
            <video autoplay loop muted>
                <source src="../../../assets/image/education.mp4">
            </video>
        </div>
    </div>
    <div class="video-title">
        <h4>Suggested Videos</h4>
    </div>
    <div class="video-section">
        <div class="vid">
            <video autoplay loop muted>
                <source src="../../../assets/image/education.mp4">
            </video>
        </div>
        <div class="vid">
            <video autoplay loop muted>
                <source src="../../../assets/image/education.mp4">
            </video>
        </div>
    </div>
</ion-content>