<ion-content>
    <ion-searchbar placeholder="Custom Placeholder"></ion-searchbar>
    <div class="emp-list">
        <div class="emp-img">
            <img src="../../../assets/image/profile.png">
        </div>
        <div class="emp-name">
            <b>Sandeep Kashyap</b><br>
            <span>Chandigarh University</span><br>
            <span>Course:-MCA(AI+ML)</span><br>
            <span>Roll:-22MCI10053</span><br>
            <span>Course Duration:-2yr</span>
        </div>
    </div>
    <div class="emp-list">
        <div class="emp-img">
            <img src="../../../assets/image/profile.png">
        </div>
        <div class="emp-name">
            <b>Pankaj Kumar</b><br>
            <span>Chandigarh University</span><br>
            <span>Course:-MCA(AI+ML)</span><br>
            <span>Roll:-22MCI10076</span><br>
            <span>Course Duration:-2yr</span>
        </div>
    </div>
    <div class="emp-list">
        <div class="emp-img">
            <img src="../../../assets/image/profile.png">
        </div>
        <div class="emp-name">
            <b>Gauravi Mauriya</b><br>
            <span>Chandigarh University</span><br>
            <span>Course:-MCA(AI+ML)</span><br>
            <span>Roll:-23MCI10142</span><br>
            <span>Course Duration:-2yr</span>
        </div>
    </div>
    <div class="emp-list">
        <div class="emp-img">
            <img src="../../../assets/image/profile.png">
        </div>
        <div class="emp-name">
            <b>Rahul Singh</b><br>
            <span>Chandigarh University</span><br>
            <span>Course:-MCA(AI+ML)</span><br>
            <span>Roll:-22MCI10044</span><br>
            <span>Course Duration:-2yr</span>
        </div>
    </div>
    <div class="emp-list">
        <div class="emp-img">
            <img src="../../../assets/image/profile.png">
        </div>
        <div class="emp-name">
            <b>Sonali Singh</b><br>
            <span>Chandigarh University</span><br>
            <span>Course:-MCA(AI+ML)</span><br>
            <span>Roll:-22MCI10049</span><br>
            <span>Course Duration:-2yr</span>
        </div>
    </div>
</ion-content>