<ion-content>
  <div class="verify">
    <ion-icon name="arrow-back-outline" routerLink="/auth/login"></ion-icon>
    <span>Registration</span>
  </div>
  <div class="reg">
    <form>
      <ion-input type="email" fill="solid" label="Full Name" labelPlacement="floating" helperText="Enter a valid email" errorText="Invalid email" ngModel email></ion-input>
      <ion-input type="email" fill="solid" label="Mobile Number" labelPlacement="floating" helperText="Enter a valid email" errorText="Invalid email" ngModel email></ion-input>
      <ion-input type="email" fill="solid" label="Gender" labelPlacement="floating" helperText="Enter a valid email" errorText="Invalid email" ngModel email></ion-input>
      <ion-input type="email" fill="solid" label="Course" labelPlacement="floating" helperText="Enter a valid email" errorText="Invalid email" ngModel email></ion-input>
      <ion-input type="email" fill="solid" label="Country Name" labelPlacement="floating" helperText="Enter a valid email" errorText="Invalid email" ngModel email></ion-input>
      <ion-input type="email" fill="solid" label="Email" labelPlacement="floating" helperText="Enter a valid email" errorText="Invalid email" ngModel email></ion-input>
      <ion-input type="email" fill="solid" label="State Name" labelPlacement="floating" helperText="Enter a valid email" errorText="Invalid email" ngModel email></ion-input>
      <ion-input type="email" fill="solid" label="College Name" labelPlacement="floating" helperText="Enter a valid email" errorText="Invalid email" ngModel email></ion-input>
      <ion-input type="email" fill="solid" label="Password" labelPlacement="floating" helperText="Enter a valid email" errorText="Invalid email" ngModel email></ion-input>
      <ion-button shape="round">SUBMIT</ion-button><br>
    </form>
  </div>
</ion-content>
